*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  .container { padding-inline: 15px; }
  .section-title { text-align: center; }
  .movies-list {
    display: grid;
    gap: 50px;
  }
  
  .movie-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .movie-card .card-banner {
    position: relative;
    background: var(--gunmetal-1);
    aspect-ratio: 2 / 3;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: var(--transition-1);
  }